@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.bg-banner {
  background-color: #264653;
}

.bg-btn {
  background-color: #e76f51;
}

.text-grey {
  color: #e0e0e0;
}
.text-grey-dark {
  color: #6c6c6c;
}

.text-orange {
  color: #e76f51;
}

.text-blue {
  color: #23a6f0;
}

.img-gray {
  filter: grayscale(100%);
}
